* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-style: normal;
}

:root {
    --buttonBlue: #20A8F5;
    --mediumPersianBlue: #085EA9;
    --water: #CDECFF;
    --white: #FFFFFF;
    --black: #000000;
    --text: #FFD7DA; 
}

body {
    font-size: 1rem;
    overflow-x: hidden;
}

.paddingContent{
    padding: 0 8%;
}

p, li {
    font-weight: 400;
}

mark {
    background-color: var(--primay);
    color: var(--text);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

