.adsMobile {
    display: none;

    @media (max-width: 48rem) {
        display: flex;
        justify-content: center;
        margin: 1.25rem 0.8rem;
    }

    .ads {

        a {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
                border-radius: 0.5rem;
            }
        }
    }
}