
  .content-library {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      color: var(--charlestonGreen);
      background-color: var(--maize);
      border-radius: .7rem;
      width: fit-content;
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: 1.8rem;
    }

    header {
      box-shadow: none;

      p {
        text-align: justify;
        margin: .7rem 0;
        font-weight: 300;
        line-height: 1.7rem;
      }
    }

    .books {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      figure {
        display: grid;
        grid-template-columns: 9.375rem 1fr;
        gap: 1rem;
        align-items: start;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 0.0625rem solid var(--charlestonGreen);
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-0.25rem);
        }

        img {
          width: 9.375rem;
          height: auto;
          border-radius: 0.5rem;
          background-color: var(--charlestonGreen);

        }

        figcaption {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h2 {
            font-size: 1.2rem;
            color: var(--charlestonGreen);
            font-weight: 600;
            margin: 0;
          }

          .author,
          .editor {
            font-size: 0.875rem;
            color: var(--buttonBlue)
          }

          .excerpt {
            font-size: 0.875rem;
            color: #444;
            line-height: 1.4;
          }

          a {
            margin-top: auto;
            align-self: start;
            background-color: var(--maize);
            color: var(--charlestonGreen);
            padding: 0.4rem 0.75rem;
            font-size: 0.8rem;
            font-weight: bold;
            border-radius: 0.375rem;
            text-decoration: none;
            transition: background 0.3s;

            &:hover {
              background-color: var(--charlestonGreen);
              color: var(--white);
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;

      ul {
        list-style: none;
        display: flex;
        gap: 0.5rem;
        padding: 0;

        li {
          a,
          span {
            padding: 0.5rem 0.75rem;
            border-radius: 0.375rem;
            text-decoration: none;
            background: #e0e0e0;
            color: #333;
            font-size: 0.875rem;
          }

          .current {
            background-color: #005f73;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }

  /* Tablet */
  @media (max-width: 62rem) {
    .content-library {
      .books {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  /* Mobile */
  @media (max-width: 37.5rem) {
    .content-library {
      .books {
        grid-template-columns: 1fr;

        figure {
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;

          figcaption {
            align-items: center;
            text-align: center;

            a {
              align-self: center;
            }
          }
        }
      }
    }
  }

