.doubt {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(90deg, var(--buttonBlue) 90%, var(--blueJeans));
    height: 12.5rem;
    position: relative;
    margin-top: 6.25rem;

    @media screen {
        @media (max-width: 48rem) {
            height: auto;
            margin-top: 0;
        }
    }

    .info {
        display: flex;
        position: absolute;
        bottom: 0;

        @media screen {
            @media (max-width: 48rem) {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                position: unset;
            }
        }

        img {
            @media screen {
                    @media (max-width: 48rem) {
                        height: 10.9375rem;
                    }
                }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 65%;
            color: var(--white);
            margin-left: 1.5625rem;
            margin-top: 1.875rem;

            @media screen {
                @media (max-width: 48rem) {
                    width: 100%;
                    margin-left: 0;
                }
            }
            
            h2 {
                font-weight: 200;
                font-size: 2.25rem;
                margin-top: 1.875rem;
                margin-bottom: .9375rem;
                @media screen {
                    @media (max-width: 48rem) {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
            a {
                font-weight: 600;
                color: var(--white);
                background-color: var(--charlestonGreen);
                width: fit-content;
                padding: .625rem 1.25rem;
                border-radius: .3125rem;

                &:hover {
                    background-color: var(--maize);
                    color: var(--charlestonGreen);
                }
                &:active {
                    background-color: var(--darkEletroBlue);
                }
            }
        }
    }
}