footer {
    background-color: var(--charlestonGreen);
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu {
        width: 50%;

        .footer-menu-container {            
            margin-bottom: 1.5625rem;

            .footer-menu {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                /* Estilos para a lista do menu do rodapé */

                li {
                    /* Estilos para os itens da lista */
                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            background-color: var(--maize);
                            color: var(--charlestonGreen);
                            border-radius: .9375rem;
                            padding: .3125rem .625rem;
                            font-weight: 600;

                        }
                    }

                    a {
                        color: var(--white);
                        font-size: 1rem;
                        &:hover,
                        &:focus {
                            background-color: var(--maize);
                            color: var(--charlestonGreen);
                            border-radius: .9375rem;
                            padding: .3125rem .625rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .socialMediaAddress {
        /* Estilos para a seção de mídias sociais e endereço */

        .mnuSocialMediaFooter {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                /* Estilos para os itens da lista */

                a {
                    

                    &:hover,
                    &:focus {
                        
                    }

                    img {
                        width: 2rem;
                        height: 2rem;
                        padding: .3125rem;
                        background: var(--white);
                        border-radius: 100%;
                        margin-right: .5rem;
                    }
                }
            }
        }

        .addressPhoneMail {
            address {
                margin: .625rem 0;
                a {
                    
                    span {
                        color: var(--white)    
                    }
                }
            }

            .contactsPhoneMail {
                display: flex;
                justify-content: end;
                color: var(--white);

                a {
                    color: var(--white);
                    margin: 0 .3125rem;

                    &:hover,
                    &:focus {                        
                        text-decoration: underline;
                    }

                    span {
                        /* Estilos para o texto */
                    }
                }
            }
        }
    }

    .copyrigth {
        width: 100%;
        text-align: center;
        padding: .9375rem 0 0;
        border-top: solid .0625rem var(--white);
        margin-top: .9375rem;
        small {
            color: var(--white);
            font-size: .875rem;
        }
    }
}