footer {
    background-color: var(--mediumPersianBlue);
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    display: flex;
    flex-wrap: wrap;

    .menu {
        /* Estilos para o menu do rodapé */

        .footer-menu-container {
            /* Estilos para o container do menu do rodapé */

            .footer-menu {
                /* Estilos para a lista do menu do rodapé */

                li {
                    /* Estilos para os itens da lista */
                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            text-decoration: underline;
                        }
                    }

                    a {
                        color: var(--white);
                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .socialMediaAddress {
        /* Estilos para a seção de mídias sociais e endereço */

        .mnuSocialMediaFooter {
            /* Estilos para a lista de mídias sociais do rodapé */

            li {
                /* Estilos para os itens da lista */

                a {
                    /* Estilos para os links */
                    &:hover,
                    &:focus {
                        /* Estilos para hover e focus */
                    }

                    img {
                        /* Estilos para as imagens */
                    }
                }
            }
        }

        .addressPhoneMail {
            /* Estilos para a seção de endereço e contatos */

            address {
                /* Estilos para o endereço */

                a {
                    
                    span {
                        color: var(--white)    
                    }
                }
            }

            .contactsPhoneMail {
                /* Estilos para os contatos de telefone e email */

                a {
                    
                    &:hover,
                    &:focus {
                        color: var(--white);
                        text-decoration: underline;
                    }

                    span {
                        /* Estilos para o texto */
                    }
                }
            }
        }
    }

    .copyrigth {
        width: 100%;
        text-align: center;
        padding: .9375rem 0 0;
        border-top: solid .0625rem var(--white);
        margin-top: .9375rem;
        small {
            color: var(--white);
        }
    }
}