.highlightPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    header {
        box-shadow: none;
        width: 100%;

        .subtitle {
            /* Estilos para o subtítulo */
        }
        h2 {
            /* Estilos para o título */
        }
    }

    
    .postSticky {
        padding: .625rem;

        figure {
            width: 45.3125rem;
            min-height: 25rem;
            background-color: var(--arsenic);
            border-radius: 3.125rem;

            img {
                /* Estilos para a imagem */
            }
        }
        h3 {
            /* Estilos para o título */
        }
        p {
            /* Estilos para o parágrafo */
        }
        time {
            /* Estilos para o tempo */
        }
    }
    .aside_notices {
        .aide_notices_article {
            figure {
                img {
                    /* Estilos para a imagem */
                }
            }
            header {
                h3 {
                    /* Estilos para o título */
                }
                p {
                    /* Estilos para o parágrafo */
                }
                time {
                    /* Estilos para o tempo */
                }
            }
        }
    }
}