.highlightPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    header {
        box-shadow: none;
        width: 100%;
        padding-left: 2%;

        .subtitle {
            /* Estilos para o subtítulo */
        }
        h2 {
            /* Estilos para o título */
        }
    }

    .postSticky,
    .aside_notices {
        width: 50%;
        padding:  1%;
    }
    
    .postSticky {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* sombra suave */

        figure {
            width: 100%;
            min-height: 25rem;
            background-color: var(--arsenic);
            border-radius: 3.125rem;

            img {
                /* Estilos para a imagem */
            }
        }
        h3 {
            /* Estilos para o título */
        }
        p {
            /* Estilos para o parágrafo */
        }
        time {
            /* Estilos para o tempo */
        }
    }
    .aside_notices {
        .aide_notices_article {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* sombra suave */
            margin-bottom: 5rem;
            padding: 2%;
            border-radius: .4375rem;
            display: flex;            

            figure {
                width: 9.375rem;
                height: 9.375rem;
                background-color: gray;
                border-radius: .4375rem;
                flex-shrink: 0;

                img {
                    /* Estilos para a imagem */
                }
            }
            header {
                h3 {
                    /* Estilos para o título */
                }
                p {
                    /* Estilos para o parágrafo */
                }
                time {
                    /* Estilos para o tempo */
                }
            }
        }
    }
}