section.support {
    h2 {
        text-align: center;
        font-size: 2rem ;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: var(--charlestonGreen);
    }
    .logoInSVG {
        padding: 0;
        display: flex;
        justify-content: space-between;

        @media screen {
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
        a {
            display: flex;
            align-items: center;
            
            img {
                max-width: 150px;   /* controla a largura máxima de cada logo */
                height: auto;       /* mantém a proporção */
                object-fit: contain; /* garante que a imagem não deforme */
                display: inline-block;
                margin: 0 10px;     /* espaçamento entre os logos */
                vertical-align: middle;
            }
        }
    }
}