section.support {
    h2 {
        text-align: center;
        font-size: 2rem ;
        margin-bottom: 1.875rem;
        text-transform: uppercase;
        color: var(--charlestonGreen);
    }
    .logoInSVG {
        padding: 0;
        display: flex;
        justify-content: space-between;

        @media screen {
            @media (max-width: 48rem) {
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        a {
            display: flex;
            align-items: center;

            @media screen {
                @media (max-width: 48rem) {
                    margin: 0.625rem 0;
                }
            }
            
            img {
                max-width: 7.8125rem;   /* controla a largura máxima de cada logo */
                height: auto;       /* mantém a proporção */
                object-fit: contain; /* garante que a imagem não deforme */
                display: inline-block;
                margin: 0 0.625rem;     /* espaçamento entre os logos */
                vertical-align: middle;
            }
        }
    }
}